.App {
  background-color: #101010;
}

body {
  background-color: #19191a;
  min-height: 89vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}


.Menu-Bar {
  display: flex;
  font-size: calc(10px + 1vmin);
  align-content: baseline;
}

.Sticky {
  display: flex;
  background-color: #101010;
  position: sticky;
  color: white;
  margin: 0px;
  position: absolute;
  left:0px;
  right:0px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: lightskyblue;
}

video {

}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
