.App {
  background-color: #101010;
}

.App-header {
  background-color: #19191a;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Home-Bar {
  display: inline;
  align-items: start;
  text-indent: 1em;
}

.Menu-Bar {
  display: inline;
  justify-content: center;
  text-indent: 23em;
}

.Sticky {
  display: flex;
  background-color: #101010;
  position: sticky;
  color: white;
  margin: 0px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
