body {
  background-color: #252525;
  min-height: 89vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  color: white;
  padding: .45in;
}

img{
  height:.55in;
  align-self: bottom;
}

.stick {
  display: flex;
  background-color: #141414;
  position: fixed;
  color: white;
  left:0px;
  right:0px;
  top:0px;
  text-indent: .12in;
  font-size: 1.5em;
}

.textlink {
  padding: .25in;
  position: relative;
  bottom: .15in;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: lightskyblue;
}

